<div class="banner">
 <div class="wrap">
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <%# @movie_top3.each do |movie| %>
            <li>
              <%= link_to image_tag("bn01.jpg", alt: ""), "" %>
            </li>
            <li>
              <%= link_to image_tag("bn02.jpg", alt: ""), "" %>
            </li>
            <li>
              <%= link_to image_tag("bn03.jpg", alt: ""), "" %>
            </li>
          <%# end %>
        </ul>
      </div>
    </section>
  </div>
</div>
