<div class="listview_1_of_3 images_1_of_3">
  <h3> <%= t "film studio" %></h3>
  <% @studios.each do |studio| %>
    <div class="content-left content-studio">
      <%= image_tag "logo_studio.png", alt: "", class: "img_studio" %>
      <div style="margin-top: 50px;">
          <%= studio.studio.name %><br>
        </div>
      <div class="clear"></div>
    </div>
    <br>
  <% end %>
</div>
