<div class="listview_1_of_3 images_1_of_3">
  <h3><%= t "trailers" %></h3>
  <% @movie_top3.each do |movie| %>
  <div class="middle-list">
    <div class="listimg1">
      <iframe width="320" height="145" src="<%= movie.trailer %>">
      </iframe>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
</div>
