<div class="listview_1_of_3 images_1_of_3">
  <h3><%= t "trailers" %></h3>
  <% @movies.each do |movie| %>
  <div class="middle-list">
    <div class="listimg1">
      <iframe width="220" height="145" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
</div>
