<div class="content-top" >
  <h3><%= t "search_movie" %></h3>
  <div class="section group" style="margin-left: 10%;">
    <div class="about span_1_of_2" style="display: flex;">
      <div class="">
        <% @movies.each do |movie| %>
          <div class="content-left">
            <div class="listimg listimg_1_of_2">
              <%= link_to image_tag("#{movie.image}", alt: ""), home_path(movie) %>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>
      <div style="margin-left: 30px;margin-top: 10px;">
        <% @movies.each do |movie| %>
        <div class="middle-list">
          <div class="listimg1">
            <iframe width="700" height="320" src="<%= movie.trailer %>">
            </iframe>
          </div>
          <div class="clear"></div>
        </div>
        <% end %>
      </div>
    </div>
  <div class="clear"></div>
</div>
<div class="paginate"><%= paginate @movies %></div>
